In [9]:
import sqlite3
from datetime import date, timedelta, datetime
import pprint

In [10]:
#db_module.py / def get_agender_daily(date):
conn = sqlite3.connect('../db/covid.db')
cur = conn.cursor()

In [11]:
date = '2020-12-16'

In [30]:
sql = 'select * from agender where stdDay=?;'
cur.execute(sql, (date,))
rows = cur.fetchall()

In [31]:
rows

[(1, '2020-04-02', 112, 1.14, 0, 0.0, 0.0, '0-9', 11, None),
 (2, '2020-04-02', 515, 5.26, 0, 0.0, 0.0, '10-19', 10, None),
 (3, '2020-04-02', 2656, 27.14, 0, 0.0, 0.0, '20-29', 9, None),
 (4, '2020-04-02', 1012, 10.34, 1, 0.62, 0.1, '30-39', 8, None),
 (5, '2020-04-02', 1312, 13.41, 1, 0.62, 0.08, '40-49', 7, None),
 (6, '2020-04-02', 1851, 18.91, 10, 6.17, 0.54, '50-59', 6, None),
 (7, '2020-04-02', 1235, 12.62, 22, 13.58, 1.78, '60-69', 5, None),
 (8, '2020-04-02', 651, 6.65, 46, 28.4, 7.07, '70-79', 4, None),
 (9, '2020-04-02', 442, 4.52, 82, 50.62, 18.55, '80 이상', 3, None),
 (10, '2020-04-02', 5881, 60.1, 80, 49.38, 1.36, '여성', 2, None),
 (11, '2020-04-02', 3905, 39.9, 82, 50.62, 2.1, '남성', 1, None)]

In [32]:
cur.close()
conn.close()

In [66]:
for row in rows[:9]:
    print(row[5], row[3])

0.0 1.14
0.0 5.26
0.0 27.14
0.62 10.34
0.62 13.41
6.17 18.91
13.58 12.62
28.4 6.65
50.62 4.52

In [55]:
type(row[5])

float

In [36]:
  for row in rows:
        int_deathRate = int(row[5])
        int_confCaseRate = int(row[3])

39

In [2]:
#db_module.py / def get_region_daily(date):
conn = sqlite3.connect('../db/covid.db')
cur = conn.cursor()

In [12]:
sql = 'select * from region where stdDay=? order by incDec desc;'
cur.execute(sql, (date,))
rows = cur.fetchall()

In [13]:
rows

[(5481, '2020-12-16', 612, 45442, '합계', 1078, 32947, 11883, 1054, 24, 87.65),
 (5480, '2020-12-16', 120, 13035, '서울', 378, 7690, 5225, 373, 5, 130.04),
 (5472, '2020-12-16', 144, 10580, '경기', 329, 7642, 2794, 320, 9, 77.36),
 (5468, '2020-12-16', 3, 596, '전북', 75, 382, 211, 75, 0, 28.67),
 (5477, '2020-12-16', 14, 1999, '인천', 67, 1436, 549, 64, 3, 65.36),
 (5479, '2020-12-16', 21, 1338, '부산', 41, 862, 455, 41, 0, 38.01),
 (5469, '2020-12-16', 13, 1191, '충남', 35, 869, 309, 35, 0, 54.47),
 (5466, '2020-12-16', 59, 1893, '경북', 28, 1676, 158, 28, 0, 70.05),
 (5478, '2020-12-16', 200, 7411, '대구', 27, 7053, 158, 27, 0, 303.06),
 (5470, '2020-12-16', 4, 603, '충북', 23, 345, 254, 22, 1, 36.26),
 (5465, '2020-12-16', 2, 905, '경남', 19, 659, 244, 19, 0, 26.36),
 (5464, '2020-12-16', 0, 142, '제주', 15, 82, 60, 15, 0, 18.93),
 (5475, '2020-12-16', 6, 672, '대전', 15, 522, 144, 15, 0, 44.57),
 (5471, '2020-12-16', 12, 842, '강원', 8, 641, 189, 8, 0, 54.14),
 (5463, '2020-12-16', 1, 2304, '검역', 6, 1654, 649, 0, 6, None),
 (5474, '2020-12-16', 6, 489, '울산', 6, 231, 252, 6, 0, 42.11),
 (5467, '2020-12-16', 4, 485, '전남', 4, 378, 103, 4, 0, 25.79),
 (5476, '2020-12-16', 3, 829, '광주', 2, 715, 111, 2, 0, 56.77),
 (5473, '2020-12-16', 0, 128, '세종', 0, 110, 18, 0, 0, 37.39)]

In [14]:
cur.close()
conn.close()

In [15]:
for row in rows:
    print(row[4])

합계
서울
경기
전북
인천
부산
충남
경북
대구
충북
경남
제주
대전
강원
검역
울산
전남
광주
세종

In [17]:
for row in rows:
    print(row[2:4],row[5:])

(612, 45442) (1078, 32947, 11883, 1054, 24, 87.65)
(120, 13035) (378, 7690, 5225, 373, 5, 130.04)
(144, 10580) (329, 7642, 2794, 320, 9, 77.36)
(3, 596) (75, 382, 211, 75, 0, 28.67)
(14, 1999) (67, 1436, 549, 64, 3, 65.36)
(21, 1338) (41, 862, 455, 41, 0, 38.01)
(13, 1191) (35, 869, 309, 35, 0, 54.47)
(59, 1893) (28, 1676, 158, 28, 0, 70.05)
(200, 7411) (27, 7053, 158, 27, 0, 303.06)
(4, 603) (23, 345, 254, 22, 1, 36.26)
(2, 905) (19, 659, 244, 19, 0, 26.36)
(0, 142) (15, 82, 60, 15, 0, 18.93)
(6, 672) (15, 522, 144, 15, 0, 44.57)
(12, 842) (8, 641, 189, 8, 0, 54.14)
(1, 2304) (6, 1654, 649, 0, 6, None)
(6, 489) (6, 231, 252, 6, 0, 42.11)
(4, 485) (4, 378, 103, 4, 0, 25.79)
(3, 829) (2, 715, 111, 2, 0, 56.77)
(0, 128) (0, 110, 18, 0, 0, 37.39)

In [ ]:
# {% for row in rows %}{{row[5:]}},{% endfor %}

In [31]:
gubun_list, defCnt_list, isolClearCnt_list = [], [], []
for row in rows:
    gubun_list.append(row[4])
    defCnt_list.append(row[2])
    isolClearCnt_list.append(row[5])
data_dict = {"gubun": gubun_list, "defCnt": defCnt_list,"isolClearCnt": isolClearCnt_list}

In [32]:
print(data_dict)

{'gubun': ['합계', '서울', '경기', '전북', '인천', '부산', '충남', '경북', '대구', '충북', '경남', '제주', '대전', '강원', '검역', '울산', '전남', '광주', '세종'], 'defCnt': [612, 120, 144, 3, 14, 21, 13, 59, 200, 4, 2, 0, 6, 12, 1, 6, 4, 3, 0], 'isolClearCnt': [1078, 378, 329, 75, 67, 41, 35, 28, 27, 23, 19, 15, 15, 8, 6, 6, 4, 2, 0]}

In [33]:
data_dict["gubun"][1:]

['서울',
 '경기',
 '전북',
 '인천',
 '부산',
 '충남',
 '경북',
 '대구',
 '충북',
 '경남',
 '제주',
 '대전',
 '강원',
 '검역',
 '울산',
 '전남',
 '광주',
 '세종']

In [24]:
data_dict["defCnt"]

[612, 120, 144, 3, 14, 21, 13, 59, 200, 4, 2, 0, 6, 12, 1, 6, 4, 3, 0]

In [25]:
data_dict["isolClearCnt"]

[1078, 378, 329, 75, 67, 41, 35, 28, 27, 23, 19, 15, 15, 8, 6, 6, 4, 2, 0]