In [2]:
import numpy as np 
import pandas as pd

In [3]:
#kospi종목코드받아오기 구글링
#(한국거래소에서) KRX마켓데이터 접속해서 CSV다운받아서 만든파일 http://marketdata.krx.co.kr/mdi#document=040601
#파일열기
kospi = pd.read_csv('./static/data/KOSPI.csv', dtype={'종목코드': str})
kospi.head()

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,총카운트
0,1,095570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)",800
1,2,006840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -,800
2,3,027410,BGF,116409,기타 금융업,"95,716,791","95,716,791,000","1,000",NaN,1577-3663,서울특별시 강남구 테헤란로 405,800
3,4,282330,BGF리테일,74701,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),02-1577-8007,서울특별시 강남구 테헤란로 405 BGF사옥,800
4,5,138930,BNK금융지주,116409,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW),051-620-3023,부산광역시 남구 문현금융로 30(문현동),800

In [4]:
#종목코드 기업명만 있으면 됨
kospi = kospi[['종목코드', '기업명']]
kospi.set_index('종목코드', inplace=True)
kospi.tail()

         기업명
종목코드
079980   휴비스
005010   휴스틸
069260   휴켐스
000540  흥국화재
003280  흥아해운

In [5]:
kosdaq = pd.read_csv('./static/data/KOSDAQ.csv', dtype={'종목코드': str})
kosdaq = kosdaq[['종목코드', '기업명']]
kosdaq.set_index('종목코드', inplace=True)
kosdaq.head()

           기업명
종목코드
060310      3S
054620  APS홀딩스
265520   AP시스템
211270    AP위성
035760  CJ ENM

In [6]:
#이렇게 뽑아서 확인가능
company = kospi['기업명']['000270']
company

'기아자동차'

In [7]:
#딕셔너리만들기
kosdaq_dict = {}
for code in kosdaq.index:
    kosdaq_dict[code] = kosdaq['기업명'][code]

In [10]:
# 나스닥 다우지수도 추가하고싶어서 구글링 참고 https://m.blog.naver.com/freed0om/221981429329
# 설치 pip install -U finance-datareader 
import FinanceDataReader as fdr
fdr.__version__

'0.9.10'

In [11]:
# 한국거래소 상장종목 전체 (코스피+코스닥=KRX) 코스피KOSPI 코스닥KOSDAQ
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [12]:
df_krx.count()

Symbol            2604
Market            2604
Name              2604
Sector            2404
Industry          2384
ListingDate       2404
SettleMonth       2404
Representative    2404
HomePage          2235
Region            2404
dtype: int64

In [13]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2604 entries, 0 to 2603
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          2604 non-null   object
 1   Market          2604 non-null   object
 2   Name            2604 non-null   object
 3   Sector          2404 non-null   object
 4   Industry        2384 non-null   object
 5   ListingDate     2404 non-null   datetime64[ns]
 6   SettleMonth     2404 non-null   object
 7   Representative  2404 non-null   object
 8   HomePage        2235 non-null   object
 9   Region          2404 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 303.8+ KB

In [49]:
#나스닥 NASDAQ,  뉴욕증권거래소 NYSE, AMEX는 AMEX, S&P500은 SP500
#그중 나스닥걸로 해보자
df_nasdaq = fdr.StockListing('NASDAQ')
df_nasdaq.head()

100%|██████████| 3242/3242 [00:04<00:00, 782.69it/s]

  Symbol                  Name        Industry IndustryCode
0   AAPL             Apple Inc  컴퓨터, 전화 및 가전제품       571060
1   MSFT        Microsoft Corp   소프트웨어 및 IT서비스       572010
2   AMZN        Amazon.com Inc         다양한 소매업       534020
3     FB  Facebook Inc Class A   소프트웨어 및 IT서비스       572010
4  GOOGL  Alphabet Inc Class A   소프트웨어 및 IT서비스       572010

In [51]:
#파일저장
df_nasdaq.to_csv('./static/data/NASDAQ.csv', index=False)

In [22]:
#파일열기
nasdaq = pd.read_csv('static/data/NASDAQ.csv', dtype={'종목코드': str})

In [25]:
#컬럼명변경 
nasdaq.rename(columns={'Symbol':'종목코드', 'Name':'기업명'},inplace=True)
nasdaq = nasdaq[['종목코드', '기업명']]
nasdaq.set_index('종목코드', inplace=True)
nasdaq.tail()

                                             기업명
종목코드
SRSA            Sarissa Capital Acquisition Corp
MOTN                     Motion Acquisition Corp
NBTX                               Nanobiotix SA
EDTXU  EdtechX Holdings Acquisition Corp II Unit
VVOS                      Vivos Therapeutics Inc

In [28]:
company = nasdaq['기업명']['SBUX']
company

'Starbucks Corp'

In [29]:
nasdaq_dict = {}
for code in nasdaq.index:
    nasdaq_dict[code] = nasdaq['기업명'][code]

In [15]:
df_KOSPI = fdr.StockListing('KOSPI')
df_KOSPI.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,027410,KOSPI,BGF,기타 금융업,지주회사,2014-05-19,12월,홍정국,http://www.bgf.co.kr,서울특별시
7,282330,KOSPI,BGF리테일,종합 소매업,체인화 편의점,2017-12-08,12월,이건준,http://www.bgfretail.com,서울특별시
8,138930,KOSPI,BNK금융지주,기타 금융업,금융지주회사,2011-03-30,12월,김지완,http://www.bnkfg.com,부산광역시

In [17]:
df_KOSPI.info()  #왜인지 KRX자료800개보다 FinanceDataReader 업체가 더 많다 ㅋ

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 1 to 2601
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          997 non-null    object
 1   Market          997 non-null    object
 2   Name            997 non-null    object
 3   Sector          800 non-null    object
 4   Industry        787 non-null    object
 5   ListingDate     800 non-null    datetime64[ns]
 6   SettleMonth     800 non-null    object
 7   Representative  800 non-null    object
 8   HomePage        773 non-null    object
 9   Region          800 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 125.7+ KB

In [18]:
df_KOSDAQ = fdr.StockListing('KOSDAQ')
df_KOSDAQ.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
13,035760,KOSDAQ,CJ ENM,텔레비전 방송업,"의류, 생활주방, 가전제품, 보석, 기타",1999-11-23,12월,"Minheoi Heo, Minho Hou",http://www.cjmall.com,서울특별시

In [19]:
df_KOSDAQ.info() #왜인지 KRX자료1460개보다 FinanceDataReader 업체가 더 많다 ㅋ

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1463 entries, 0 to 2603
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          1463 non-null   object
 1   Market          1463 non-null   object
 2   Name            1463 non-null   object
 3   Sector          1460 non-null   object
 4   Industry        1455 non-null   object
 5   ListingDate     1460 non-null   datetime64[ns]
 6   SettleMonth     1460 non-null   object
 7   Representative  1460 non-null   object
 8   HomePage        1321 non-null   object
 9   Region          1460 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 125.7+ KB